APP_BASE_URL=http://localhost:3000
PORT=3000
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=myr
STRIPE_TERMINAL_LOCATION_ID=
STRIPE_TERMINAL_CAPTURE_METHOD=manual
APP_ALLOWED_ORIGINS=
